pandas
subprocess
pyttsx3
requests
gnews
tkinter
json
random
operator
SpeechRecognition
datetime
webbrowser
os
shutil
winshell
pyjokes
feedparser
smtplib
ctypes
time
bs4
win32com
urlopen
openai
pywhatkit
